/* Bembos */
@font-face {
    font-family: "big noodle";
    src: url("../assets/fonts/big_noodle_titling.ttf");
}

@font-face {
    font-family: "knockout";
    src: url("../assets/fonts/knockout-htf-90-ultmt-welterwt-1361516702.ttf");
}

@font-face {
    font-family: "din1451";
    src: url("../assets/fonts/DIN1451StdEngschrift.ttf");
}

/* NGR */
@font-face {
    font-family: "omnes";
    src: url("../assets/fonts/Omnes_Regular.ttf");
}

@font-face {
    font-family: "omnes-semibold";
    src: url("../assets/fonts/omnes-semibold-webfont.ttf");
}

/* PJ */
@font-face {
    font-family: "italian-bold";
    src: url("../assets/fonts/ItalianPlateNo2-Bold.otf");
}

@font-face {
    font-family: "italian";
    src: url("../assets/fonts/ItalianPlateNo2-Regular.otf");
}

/* CW */
@font-face {
    font-family: "frankfurter";
    src: url("../assets/fonts/FrankfurterMediumStdRegular.otf");
}

@font-face {
    font-family: "helveticaneue";
    src: url("../assets/fonts/helveticaneue.ttf");
}

/* DB */
@font-face {
    font-family: "Tungsten-bold";
    src: url("../assets/fonts/Tungsten-Bold.otf");
}

@font-face {
    font-family: "Archer";
    src: url("../assets/fonts/Archer-Medium-Pro.otf");
}

/* PP */

@font-face {
    font-family: "Belizio";
    src: url("../assets/fonts/Belizio-Black.otf");
}

@font-face {
    font-family: "Metro";
    src: url("../assets/fonts/MetroMediumLT-Two.ttf");
}

/* DD */

@font-face {
    font-family: "FrankfurterHH";
    src: url("../assets/fonts/Frankfurter-HH.otf");
}

@font-face {
    font-family: "FrankfurterDmed";
    src: url("../assets/fonts/FrankfurterDMed.ttf");
}


@font-face {
    font-family: 'icons-ngr';
    src: url('./font/icons-ngr.eot?96623913');
    src: url('./font/icons-ngr.eot?96623913#iefix') format('embedded-opentype'),
        url('./font/icons-ngr.woff?96623913') format('woff'),
        url('./font/icons-ngr.ttf?96623913') format('truetype'),
        url('./font/icons-ngr.svg?96623913#icons-ngr') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
}

p,
h2 {
    margin: 0;

}

a {
    text-decoration: none;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-left: 1em;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-right: 1.5em;
}

.mb-1 {
    margin-bottom: 1.5em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.pl-1 {
    padding-left: 1em;
}

.pr-2 {
    padding-right: 2em;
}

.text-center {
    text-align: center;
}


.text-white {
    color: white;
}

.text-gray {
    color: #92847E;
}

.title-brand {
    font-size: 44px;
    margin-bottom: 20px;

}

.title-bb {
    font-family: big noodle, sans-serif;
    font-weight: lighter;
}

.text-content {
    font-size: 24px;
    margin-bottom: 2em;
}


.text-content-bb {
    font-family: din1451, sans-serif;
}

.text-content-ngr {
    font-family: omnes-semibold, sans-serif;
    font-size: 2vw;

}

.text-content-counter {
    font-family: omnes-semibold, sans-serif;
    font-size: 36px;

}

.phrases-star {
    color: rgb(255, 197, 108);
    font-weight: bold;
}

.phares-star-2 {
    color: #F08D24;
    font-weight: bold;
}

.pos-l {
    left: 10px;
    bottom: 20px;
}

.pos-r {
    right: 20px;
    bottom: 20px;
}

.text-content-pj {
    font-family: italian, sans-serif;
    font-size: 22px;

}

.text-content-cw {
    font-family: helveticaneue, sans-serif;
    font-size: 20px;
}

.text-content-db {
    font-family: Archer, sans-serif;
    font-size: 20px;
}

.text-content-pp {
    font-family: Metro, sans-serif;
    font-size: 20px;
}

.text-content-dd {
    font-family: FrankfurterDmed, sans-serif;
    font-size: 24px;
}


.title-brand-cw {
    font-family: frankfurter;
    text-transform: uppercase;
    font-size: 45px;
}

.title-brand-pj {
    font-family: italian-bold, sans-serif;
    text-transform: uppercase;
    font-size: 50px;

}


.title-brand-db {
    font-family: Tungsten-bold, sans-serif;
    text-transform: uppercase;
    font-size: 45px;

}

.title-brand-pp {
    font-family: Belizio, sans-serif;
    text-transform: uppercase;
    font-size: 24px;

}

.title-brand-dd {
    font-family: FrankfurterDmed, sans-serif;
    text-transform: uppercase;
    font-size: 34px;

}

.logo-bb {
    width: 240px;
}

.logo-pp {
    width: 185px;
}

.logo-cw {
    width: 180px;
}

.circle-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse 1.5s infinite;

}


@keyframes pulse {
    0% {
        transform: scale(0.9);

    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);

    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0)
    }
}




.icon-group {
    width: 40px;
    height: 40px;
}

.icon-font {
    font-size: 35px;
    position: relative;
    right: 2px;
}


.icon-font-fac {
    font-size: 40px;
    position: relative;
    left: 1px;
}

.icon-font-home {
    font-size: 40px;
    position: relative;
    left: 1px;
}

.circle-bb {
    background-color: white;
    color: #193694;
    transition: .5s;
}

.circle-bb:hover {
    box-sizing: border-box;
    background-color: #193694;
    color: white;
    border: 2px solid white;
}

.circle-pj {
    background-color: white;
    color: #1B6B50;
    transition: .5s;
}

.circle-pj:hover {
    box-sizing: border-box;
    background-color: #1B6B50;
    color: white;
    border: 2px solid white;
}

.circle-cw {
    background-color: white;
    color: #ED1F20;
    transition: .5s;
}

.circle-cw:hover {
    box-sizing: border-box;
    background-color: #ED1F20;
    color: white;
    border: 2px solid white;
}

.circle-db {
    background-color: #CF112D;
    color: white;
    transition: .5s;

}

.circle-db:hover {
    box-sizing: border-box;
    background-color: transparent;
    color: #CF112D;
    border: 2px solid #CF112D;
}

.circle-pp {
    background-color: white;
    color: #FB6619;
    transition: .5s;
}

.circle-pp:hover {
    box-sizing: border-box;
    background-color: #FB6619;
    color: white;
    border: 2px solid white;
}

.circle-dd {
    background-color: white;
    color: #603D1A;
    transition: .5s;
}

.circle-dd:hover {
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.circle-ngr {
    background-color: #F08D24;
    color: white;
    transition: .5s;
}

.circle-ngr:hover {
    box-sizing: border-box;
    background-color: transparent;
    color: #F08D24;
    border: 2px solid #F08D24;
}

.container-brand {

    display: grid;
    display: -ms-grid;
    grid-template-columns: minmax(auto, 450px);
    justify-content: center;
}

.gap {
    grid-gap: 3em;
}

.home-text-center {
    right: 0;
    top: 30%;
    left: -52%;
    max-width: 710px;

}

.intercorp {
    width: 150px;
}

.text-link {
    font-family: din1451;
    font-size: 16px;
    margin-top: 5px;
}

.text-link-ngr {
    font-family: omnes;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}


.arrow-down {
    left: 0px;
    top: 94%;
    animation: scrollDown 1.5s infinite cubic-bezier(0.23, 1, 0.32, 1);
}

.arrow-down-brand {
    right: 0px;
    top: 1%;
    animation: scrollDown 1.5s infinite cubic-bezier(0.23, 1, 0.32, 1);
}

.arrow-down-brand img {
    width: 100px;
}


.arrow-down-ngr {
    left: 0px;
    top: 86%;
    animation: scrollDown 1.5s infinite cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes scrollDown {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }
}

.icon-down {
    width: 30px;
}

.icon-rotate {
    transform: rotate(180deg);
}

.icon-down-rotate {
    left: 0px;
    top: 94%;

    animation: scrollUp 1.5s infinite cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes scrollUp {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
}


.icon-scroll {
    width: 30px;

}

.box-logo-intercorp {
    width: 135px;
    float: right;
    position: absolute;
    bottom: 10px;
    left: 10px;

}

.box-logo-intercorp img {
    width: 135px;
}

.container-logo-fix {
    width: 150px;
    height: 65px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;

}

.logo-ngr-fix {
    width: 100px;
}


.fixed-container,
.fixed-container-mob {
    position: fixed;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-links {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}


.grid-links-ngr {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}


.hide {
    display: none;
}

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: 3;
    filter: opacity(60%);
}

.section2{
    background-color: white;
    z-index: 4;
}

.contain-video{
     width: 100%; 
     height: 100%;
     background: rgba(0, 0, 0, 0.8);
}
#myVideo2 {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    z-index: 3;
    filter: opacity(50%);
}



.number-ngr {
    font-size: 150px;
    transition: all 0.5s ease-in;
}

.size-certification {
    width: 100px;
}

.pos-certification {
    top: 0;
    left: 65%;
}


@media screen and (max-width: 1024px) {

    .container-brand {
        padding: 0 10px;
    }

    .container-logo-fix-mob {
        width: 200px;
        height: 85px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: white;

    }

    .size-logo {
        width: 150px;
        height: 65px;
    }

    .logo-ngr-fix {
        width: 140px;
    }

    .logo-fix-mob {
        width: 100px;
    }

    .hide-mobile {
        display: none;
    }

    #myVideo {
        filter: opacity(35%);
    }

    .size-certification {
        width: 18vw;
    }

    .pos-certification {
        top: 0;
        left: 78%;
        z-index: 9;

    }

    .logo-ngr-mob {
        z-index: 8;
        top: 22.5%;
        left: 22.5vw;

    }

    .phrase-ngr {
        z-index: 8;
        padding: 0 1em;
        top: 55%;
        transform: translateY(-50%);

    }

    .text-content-ngr {
        font-size: 8vw;
    }

    .pos-icon {
        z-index: 5;
        bottom: 1em;
        width: 100%;
    }

    .circle-ngr {
        background-color: transparent;
        border: 3px solid white;
        color: white;
    }

    .text-link-ngr {
        padding: 0 4px;
        color: white;
    }

    .arrow-down {
        left: 50%;
    }

    .container-employee {
        height: 100vh;
        padding: 0 1em;
        box-sizing: border-box;
    }

    .number-ngr {
        font-size: 90px;

    }

    .bg-bb-mobile {
        height: 100vh;
        background-image: url(../assets/images/bbmobile.jpg);
        background-size: cover;
    }

    .bg-pj-mobile {
        height: 100vh;
        background-image: url(../assets/images/pjmobile.jpg);
        background-size: cover;
    }

    .bg-cw-mobile {
        height: 100vh;
        background-image: url(../assets/images/cwmobile.jpg);
        background-size: cover;
    }

    .bg-db-mobile {
        height: 100vh;
        background-image: url(../assets/images/dbmobile.jpg);
        background-size: cover;
    }

    .bg-pp-mobile {
        height: 100vh;
        background-image: url(../assets/images/ppmobile.jpg);
        background-size: cover;
    }

    .bg-dd-mobile {
        height: 100vh;
        background-image: url(../assets/images/ddmobile.png);
        background-size: cover;
    }

    .bg-wh-mobile {
        height: 100vh;
        background-image: url(../assets/images/whmobile.jpg);
        background-size: cover;
    }


    .content-brand {
        padding-top: 5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .logo-bb {
        width: 200px;
    }

    .logo-ngr-mob-img {
        width: 55vw;
    }

    .logo-pj {
        width: 180px;
    }

    .title-bb {
        font-size: 30px;
    }

    .title-brand-pj {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .text-content-bb {
        font-size: 20px;
    }

    .title-brand-dd {
        font-size: 25px;
    }

    .text-content-dd {
        font-size: 18px;
    }

    .logo-pp {
        width: 150px;
    }

    .title-brand-pp {
        font-size: 20px;
    }

    .text-content-pp {
        font-size: 18px;
    }

    .title-brand-db {
        font-size: 36px;
    }

    .circle-ngr:hover {
        box-sizing: border-box;
        background-color: transparent;
        color: white;
        border: 2px solid white;
    }

    .title-brand-wh {
        font-size: 36px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .bg-bb-mobile,
    .bg-pj-mobile,
    .bg-cw-mobile,
    .bg-db-mobile,
    .bg-dd-mobile,
    .bg-pp-mobile,
    .bg-wh-mobile {
        background-position-y: 65%;
    }

    .logo-bb {
        width: 300px;
    }

    .title-bb,
    .title-brand-db {
        font-size: 65px;
    }

    .text-content-bb {
        font-size: 40px;
    }

    .logo-pj {
        width: 250px;
    }

    .title-brand-pj {
        font-size: 65px;

    }

    .text-content-pj {
        font-size: 35px;
    }

    .text-content-cw,
    .text-content-db {
        font-size: 35px;
    }

    .logo-cw {
        width: 200px;
        margin-top: 15px;
    }

    .logo-pp {
        width: 250px;
    }

    .title-brand-pp,
    .text-content-pp,
    .text-content-dd {
        font-size: 35px;
    }

    .title-brand-dd {
        font-size: 55px;
    }

    .text-content-ngr {
        font-size: 60px;
    }
}



@media screen and (min-width: 1025px) {
    .hide-mobile {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

}

@media screen and (max-height: 568px) {
    .text-content-ngr {
        font-size: 7.5vw
    }

    .text-content-counter {
        font-size: 30px;
    }

    .number-ngr {
        font-size: 50px;
    }

    .logo-bb {
        width: 175px;
    }

    .logo-pj {
        width: 140px;
    }

    .logo-cw {
        width: 125px;
    }

    .title-brand-db {
        font-size: 30px;
    }

    .text-content-db {

        font-size: 18px;
    }

    .title-brand-pp {
        font-size: 18px;
    }
}


/* Styles Mobile Horizontal */


@media (max-height: 420px) {
    .text-content-ngr {
        font-size: 6vh;
    }

    .logo-ngr-mob-img {
        width: 30vw;
    }

    .size-certification {
        width: 15vh;
    }

    .logo-ngr-mob {

        left: 38vw;
    }

    .circle-icon {
        width: 40px;
        height: 40px;
    }

    .icon-font,
    .icon-font-fac {
        font-size: 6vh;
    }

    .number-ngr {
        font-size: 8vh;
    }

    .gap-mobile {
        grid-gap: 1em;
    }

    .text-content-counter {
        font-size: 7vh;
    }

    .text-link-ngr {
        font-size: 10px;
    }

    /* Bemnbos */
    .logo-bb {
        width: 35vh;
    }

    .title-bb {
        font-size: 6vh;
        margin-bottom: 5px;
        text-align: center;
    }

    .text-content-bb {
        font-size: 4.5vh;
        text-align: center;
    }

    /* Papa Johns */

    .title-brand-pj {
        font-size: 6.5vh;
        text-align: center;
        margin-bottom: 5px;
    }

    .text-content-pj {
        font-size: 4vh;
        text-align: center;
    }

    .logo-pj {
        width: 30vh;
    }

    /* Chinawok */
    .logo-cw {
        width: 25vh;
    }

    .text-content-cw {
        font-size: 3.8vh;
        text-align: center;
    }

    /* DOn Belisario */

    .title-brand-db {
        font-size: 6vh;
        margin-bottom: 5px;
        text-align: center;
    }

    .text-content-db {
        font-size: 4vh;
        text-align: center;
    }

    /* Popeyes */
    .logo-pp {
        width: 28vh;
    }

    .title-brand-pp {
        font-size: 3.2vh;
        margin-bottom: 5px;
    }

    .text-content-pp {
        font-size: 4vh;
    }

    /* DD */
    .text-content-dd {
        font-size: 5vh;
    }

    .title-brand-dd {
        font-size: 5vh;
        margin-bottom: 5px;
    }
}