/* Bembos */
@font-face {
    font-family: "big noodle";
    src: url("../assets/fonts/big_noodle_titling.ttf");
}

@font-face {
    font-family: "knockout";
    src: url("../assets/fonts/knockout-htf-90-ultmt-welterwt-1361516702.ttf");
}

@font-face {
    font-family: "din1451";
    src: url("../assets/fonts/DIN1451StdEngschrift.ttf");
}

/* NGR */
@font-face {
    font-family: "omnes";
    src: url("../assets/fonts/Omnes_Regular.ttf");
}

@font-face {
    font-family: "omnes-semibold";
    src: url("../assets/fonts/omnes-semibold-webfont.ttf");
}

/* PJ */
@font-face {
    font-family: "italian-bold";
    src: url("../assets/fonts/ItalianPlateNo2-Bold.otf");
}

@font-face {
    font-family: "italian";
    src: url("../assets/fonts/ItalianPlateNo2-Regular.otf");
}

/* CW */
@font-face {
    font-family: "frankfurter";
    src: url("../assets/fonts/FrankfurterMediumStdRegular.otf");
}

@font-face {
    font-family: "helveticaneue";
    src: url("../assets/fonts/helveticaneue.ttf");
}

/* DB */
@font-face {
    font-family: "Tungsten-bold";
    src: url("../assets/fonts/Tungsten-Bold.otf");
}

@font-face {
    font-family: "Archer";
    src: url("../assets/fonts/Archer-Medium-Pro.otf");
}

/* PP */

@font-face {
    font-family: "Belizio";
    src: url("../assets/fonts/Belizio-Black.otf");
}

@font-face {
    font-family: "Metro";
    src: url("../assets/fonts/MetroMediumLT-Two.ttf");
}

/* DD */

@font-face {
    font-family: "FrankfurterHH";
    src: url("../assets/fonts/Frankfurter-HH.otf");
}

@font-face {
    font-family: "FrankfurterDmed";
    src: url("../assets/fonts/FrankfurterDMed.ttf");
}


@font-face {
    font-family: 'icons-ngr';
    src: url('./font/icons-ngr.eot?96623913');
    src: url('./font/icons-ngr.eot?96623913#iefix') format('embedded-opentype'),
        url('./font/icons-ngr.woff?96623913') format('woff'),
        url('./font/icons-ngr.ttf?96623913') format('truetype'),
        url('./font/icons-ngr.svg?96623913#icons-ngr') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
}

p,
h2 {
    margin: 0;

}

a {
    text-decoration: none;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.mb-1 {
    margin-bottom: 1.5em;
}

.mb-2 {
    margin-bottom: 2em;
}

.text-center {
    text-align: center;
}


.text-white {
    color: white;
}

.text-gray {
    color: #92847E;
}

.title-brand {
    font-size: 44px;
    margin-bottom: 20px;

}

.title-bb {
    font-family: big noodle, sans-serif;
    font-weight: lighter;
}

.text-content {
    font-size: 24px;
    margin-bottom: 2em;
}


.text-content-bb {
    font-family: din1451, sans-serif;
}

.text-content-ngr {
    font-family: omnes-semibold, sans-serif;
    font-size: 24px;

}

.text-content-counter {
    font-family: omnes-semibold, sans-serif;
    font-size: 36px;

}

.phrases-star {
    color: #F08D24;
    font-weight: bold;
}

.phares-star-2 {
    color: #F08D24;
    font-weight: bold;
}

.text-content-pj {
    font-family: italian, sans-serif;
    font-size: 22px;

}

.text-content-cw {
    font-family: helveticaneue, sans-serif;
    font-size: 20px;
}

.text-content-db {
    font-family: Archer, sans-serif;
    font-size: 20px;
}

.text-content-pp {
    font-family: Metro, sans-serif;
    font-size: 20px;
}

.text-content-dd {
    font-family: FrankfurterDmed, sans-serif;
    font-size: 24px;
}


.title-brand-cw {
    font-family: frankfurter;
    text-transform: uppercase;
    font-size: 45px;
}

.title-brand-pj {
    font-family: italian-bold, sans-serif;
    text-transform: uppercase;
    font-size: 50px;

}


.title-brand-db {
    font-family: Tungsten-bold, sans-serif;
    text-transform: uppercase;
    font-size: 45px;

}

.title-brand-pp {
    font-family: Belizio, sans-serif;
    text-transform: uppercase;
    font-size: 24px;

}

.title-brand-dd {
    font-family: FrankfurterDmed, sans-serif;
    text-transform: uppercase;
    font-size: 34px;

}

.logo-bb {
    width: 240px;
}

.logo-pp {
    width: 185px;
}

.logo-cw {
    width: 180px;
}

.circle-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-group {
    width: 40px;
    height: 40px;
}

.icon-font {
    font-size: 35px;
    position: relative;
    right: 2px;
}


.icon-font-fac {
    font-size: 40px;
    position: relative;
    left: 1px;
}

.icon-font-home {
    font-size: 40px;
    position: relative;
    left: 1px;
}

.circle-bb {
    background-color: white;
    color:#193694 ;
    transition: .5s;
}

.circle-bb:hover {
    box-sizing: border-box;
    background-color: #193694;
    color:white ;
    border: 2px solid white ;
}

.circle-pj {
    background-color: white;
    color:#1B6B50 ;
    transition: .5s;
}

.circle-pj:hover {
    box-sizing: border-box;
    background-color: #1B6B50;
    color:white ;
    border: 2px solid white ;
}

.circle-cw{
    background-color: white;
    color:#ED1F20 ;
    transition: .5s;
}

.circle-cw:hover {
    box-sizing: border-box;
    background-color: #ED1F20;
    color:white ;
    border: 2px solid white ;
}

.circle-db {
    background-color: #CF112D;
    color:white ;
    transition: .5s;

}

.circle-db:hover {
    box-sizing: border-box;
    background-color: transparent;
    color:#CF112D ;
    border: 2px solid #CF112D ;
}

.circle-pp{
    background-color: white;
    color:#FB6619 ;
    transition: .5s;
}

.circle-pp:hover {
    box-sizing: border-box;
    background-color: #FB6619;
    color:white ;
    border: 2px solid white ;
}

.circle-dd{
    background-color: white;
    color:#603D1A ;
    transition: .5s;
}

.circle-dd:hover {
    box-sizing: border-box;
    background-color: transparent;
    color:white ;
    border: 2px solid white ;
}

.circle-ngr {
    background-color: #F08D24;
    color: white;
    transition: .5s;
}

.circle-ngr:hover {
    box-sizing: border-box;
    background-color: white;
    color: #F08D24;
    border: 2px solid #F08D24;
}

.container-brand {

    display: grid;
    grid-template-columns: minmax(auto, 450px);
    justify-content: center;
}

.gap {
    grid-gap: 3em;
}

.intercorp {
    width: 150px;
}

.text-link {
    font-family: din1451;
    font-size: 16px;
    margin-top: 5px;
}

.text-link-ngr {
    font-family: omnes;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}


.arrow-down {
    left: 0px;
    top: 94%;
    animation: scrollDown 1.5s infinite cubic-bezier(0.23, 1, 0.32, 1);
}


.arrow-down-ngr {
    left: 0px;
    top: 86%;
    animation: scrollDown 1.5s infinite cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes scrollDown {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }
}

.icon-down {
    width: 30px;
}

.icon-rotate {
    transform: rotate(180deg);
}

.icon-down-rotate {
    left: 0px;
    top: 94%;

    animation: scrollUp 1.5s infinite cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes scrollUp {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
}


.icon-scroll {
    width: 30px;

}

.box-logo-intercorp {
    width: 135px;
    float: right;
    position: absolute;
    bottom: 10px;
    left: 10px;

}

.box-logo-intercorp img {
    width: 135px;
}

.container-logo-fix {
    width: 150px;
    height: 65px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;

}

.logo-ngr-fix {
    width: 100px;
}


.fixed-container {
    position: fixed;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}


.grid-links-ngr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}


.hide {
    display: none;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: 3;
    filter: opacity(60%);
}

.number-ngr {
    font-size: 150px;
    transition: all 0.5s ease-in;
}