<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>

<body>
    <header class="p-1">
        <div class=" flex-center">
            <img class="logo-ngr-legal " src="assets/images/logo-ngr-xl.png" alt="logo-ngr">
        </div>
    </header>
    <section class="legal-box ">

        <div class="container-legal">
            <div class="title-table-legal">
                <p>
                    POLÍTICA DE PRIVACIDAD DE PROTECCIÓN DE DATOS PERSONALES
                </p>
            </div>
            <div class="block-legal-grid">
                <div class="colum-title">Identidad y domicilio</div>
                <div class="p-1 text-center">
                    <p class="">Bembos S.A.C. </p>
                    <p>RUC: 20101087647</p>
                    <p> Calle Camino Real N° 1801, Mz. A, Lt. 4, Distrito de Santiago de Surco, Lima</p>
                </div>
            </div>

            <div class="block-legal-grid">
                <div class="colum-title">
                    Finalidades
                </div>
                <div>
                    <div class="p-1 colum-title row-title">
                        Necesario
                    </div>
                    <div class="p-1">
                        Sus datos personales serán utilizados para las siguientes finalidades vinculadas con el
                        desempeño de sus funciones en el ejercicio de su relación laboral:

                        <ul>
                            <li> Identificación </li>
                            <li> Resguardo de información de prestaciones </li>
                            <li> Gestión de seguros para la atención de enfermedades o accidentes </li>
                            <li> Administración de personal, gestión de nóminas y beneficios sociales </li>
                            <li> Emisión y gestión de beneficios </li>
                            <li> Administración de personal para el ingreso y salida </li>
                            <li> Evaluaciones de desempeño y reportes de competencias, capacitaciones, y clima laboral
                            </li>
                            <li> Información a clientes y consumidores </li>
                            <li> Reclutamiento y selección de personal </li>
                            <li> Hacer consultas, investigaciones y revisiones en relación con sus quejas o
                                reclamaciones </li>
                            <li> Para ponernos en contacto con ustedes al correo electrónico que nos hayan
                                proporcionado, así como con al correo electrónico de uso interno de la empresa en
                                relación con las finalidades antes mencionadas </li>
                            <li> Alojar, almacenar y procesar su información vía transferencia a empresas especializadas
                            </li>
                        </ul>

                    </div>
                    <div class="p-1 colum-title row-title">
                        Opcional
                    </div>
                    <div class="p-1">
                        <p>
                            Sus datos personales serán utilizados opcionalmente para las siguientes finalidades:
                        </p>

                        <ul>
                            <li> Realizar estudios estadísticos
                            <li> Ofrecerle y brindarle capacitaciones </li>
                            <li> Invitaciones a eventos</li>
                            <li> Incorporación a los programas de beneficios de la Empresa, Grupo Intercorp, Empresas
                                afiliadas y/o socios estratégicos</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="block-legal-grid">
                <div class="colum-title">
                    <p class="text-center">
                        Datos Personales Obligatorios
                    </p>

                </div>
                <div class="p-1">
                    <p>
                        Para llevar a cabo las finalidades descritas en la presente política de privacidad, es
                        obligatorio nos proporcione los siguientes datos personales:
                    </p>


                    <ul>
                        <li>Datos de identificación</li>
                        <li>Datos personales</li>
                        <li>Datos económicos</li>
                        <li>Datos de carácter social</li>
                    </ul>
                    <p>
                        Utilizamos datos sensibles (incluyendo datos biométricos) para cumplir con las finalidades de la
                        relación laboral. Igualmente, podremos tratar, usar y almacenar tus ingresos económicos,
                        aspectos de tu vida afectiva o familiar, información relacionada a tu salud, y datos
                        antropométricos.
                    </p>


                </div>
            </div>
            <div class="block-legal-grid">
                <div class="colum-title">
                    <p class="text-center">Destinatarios</p>
                    
                </div>
                <div>
                    <div class="p-1 colum-title row-title">
                        <p class="text-center"> Necesario</p>
                        
                    </div>
                    <div class="p-1 box-limit">
                        <p >
                            Les informamos que sus datos serán cedidos a terceros – a nivel nacional o internacional – por encargo y solo para cumplir con las finalidades escritas en este documento, con las siguientes empresas y/o entidades públicas distintas a nosotros:
                        </p>
                        <ul>
                            <li> Autoridades Nacionales</li>
                            <li> Proveedores de Hosting</li>
                            <li> Aseguradoras </li>
                            <li> Administradores de planillas </li>
                            <li> Proveedores de Registro de Control de Asistencia </li>

                        </ul>
                        <p>
                            Puedes consultar información sobre todos nuestros destinatarios en 
                            <a class="link-long"  href="http://www.trabajaenngr.com.pe/encargados-del-tratamiento">http://www.trabajaenngr.com.pe/encargados-del-tratamiento</a>.
                        </p>
                    </div>
                    <div class="p-1 colum-title row-title">
                        Opcional
                    </div>
                    <div class="p-1">
                        <p>
                            Si contamos con su consentimiento, sus datos serán transferidos al Grupo Intercorp, Empresas
                            afiliadas y/o socios estratégicos y otros listados en <a class="link-long"
                                href="https://www.intercorp.com.pe/#Empresas"> https://www.intercorp.com.pe/#Empresas</a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="block-legal-grid">
                <div class="colum-title">
                    Banco de datos
                </div>
                <div class="p-1">
                    <p>La información será almacenada en el banco de datos personales de “Trabajadores” inscrito en el
                        Registro Nacional de Protección de Datos Personales con el código RNPDP N° 14714.</p>

                </div>

            </div>
            <div class="block-legal-grid">
                <div class="colum-title">
                    Tiempo
                </div>
                <div class="p-1">
                    <p>Salvo disposición legal en contrario, sus datos serán conservados mientras dure la relación
                        laboral.</p>

                </div>

            </div>
            <div class="block-legal-grid">
                <div class="colum-title">
                    Derechos
                </div>
                <div class="p-1">
                    <p>Puede ejercer sus derechos de acceso, rectificación, cancelación y oposición, así como revocar su
                        consentimiento para las finalidades no necesarias para la ejecución de la relación laboral, en <a href=" http://www.bembos.com.pe/arco"> http://www.bembos.com.pe/arco</a>
                        o en nuestras oficinas ubicadas en la dirección señalada en líneas
                        arriba.


                    </p>
                    <p>
                        De considerar que no ha sido atendido en el ejercicio de sus derechos puede presentar una
                        reclamación ante la Autoridad Nacional de Protección de Datos Personales, dirigiéndose a la Mesa
                        de Partes del Ministerio de Justicia y Derechos Humanos: Calle Scipion Llona 350, Miraflores,
                        Lima, Perú llenando el formulario publicado en el siguiente enlace:
                        <a class="link-long" href=" https://www.minjus.gob.pe/wpcontent/uploads/2018/12/FORMULARIO-DEPROCEDIMIENTO-TRILATERAL-DE-TUTELA.pdf"> https://www.minjus.gob.pe/wpcontent/uploads/2018/12/FORMULARIO-DEPROCEDIMIENTO-TRILATERAL-DE-TUTELA.pdf</a>
                       
                    </p>

                </div>

            </div>
            <div class="block-legal-grid">
                <div class="colum-title">
                    Información Adicional
                </div>
                <div class="p-1">
                    <p>Cualquier cambio o modificación a la presente Política de Privacidad podrá efectuarse en cualquier momento y se dará a conocer a través de este portal.</p>

                </div>

            </div>
    </section>
</body>

</html>